# Node.js
node_modules/

# Logs
logs/
*.log

# Environment variables
.env
.env.local

# Python
*.py[cod]
*.pyo
__pycache__/
vendor/

# Editor settings
*.swp
*.swo
*~

# System files
.DS_Store

# Other
.cache/
key.pem
# Ajout des exclusions pour éviter de commiter le venv à l'avenir

# Environnements virtuels Python
backend/venv/
backend/.venv/
**/venv/
**/.venv/

# Cache pre-commit
.pre-commit-cache/
