[MASTER]
load-plugins=

[MESSAGES CONTROL]
disable=C0111,R0903,R0913,R0914,W0613,C0103,R0801,import-error,no-member

[REPORTS]
output-format=text
files-output=no
reports=yes
score=yes

[FORMAT]
max-line-length=88
indent-string='    '
indent-after-paren=4

[VARIABLES]
good-names=i,j,k,ex,Run,_,db,id

[DESIGN]
max-args=10
max-locals=20
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=15
min-public-methods=1
max-public-methods=20
