# Dependencies
/node_modules
/.pnp
.pnp.js

# Build files
/.next
/out
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local

# IDE
.idea
.vscode

# System files
.DS_Store
*.pem
